<div class="container mt-16 p-5 mx-auto grid grid-cols-3 gap-4">
  <div>
    <div
      class="mx-auto rounded-2xl shadow-2xl max-w-md justify-around overflow-hidden"
    >
      <div class="flex p-5 justify-center">
        <img class="rounded-full h-20" src="../../assets/britanico.jpg" />
      </div>
      <div class="flex p-5 justify-center">
        <b> English - (07/2022 - Present) </b>
      </div>
      <div class="block p-5 justify-center">
        <p>English Class (A1)</p>
      </div>
    </div>
  </div>

  <div>
    <div
      class="mx-auto rounded-2xl shadow-2xl max-w-md justify-around overflow-hidden"
    >
      <div class="flex p-5 justify-center">
        <img class="rounded-full h-20" src="../../assets/cjava.jpg" />
      </div>
      <div class="flex p-5 justify-center">
        <b> Java Expert - (03/2022 - 05/2022) </b>
      </div>
      <div class="block p-5 justify-center">
        <p>
          Java course in which we work with technologies such as Spring Boot,
          Spring Data JPA, Angular, Microservices, Spring Cloud, AWS
        </p>
      </div>
    </div>
  </div>

  <div>
    <div
      class="mx-auto rounded-2xl shadow-2xl max-w-md justify-around overflow-hidden"
    >
      <div class="flex p-5 justify-center">
        <img class="rounded-full h-20" src="../../assets/cjava.jpg" />
      </div>
      <div class="flex p-5 justify-center">
        <b> Java Developer - (09/2021 - 11/2021) </b>
      </div>
      <div class="block p-5 justify-center">
        <p>
          Java course in which we work with technologies such as Spring Boot,
          Angular, ThymeLeaf, Spring Data JPA, Spring Security
        </p>
      </div>
    </div>
  </div>

  <div>
    <div
      class="mx-auto rounded-2xl shadow-2xl max-w-md justify-around overflow-hidden"
    >
      <div class="flex p-5 justify-center">
        <img class="rounded-full h-20" src="../../assets/cjava.jpg" />
      </div>
      <div class="flex p-5 justify-center">
        <b> Java Programmer - (05/2021 - 08/2021) </b>
      </div>
      <div class="block p-5 justify-center">
        <p>
          Java course in which we work with technologies such as Java 8, Java 11
          , API Stream, Functional Programming
        </p>
      </div>
    </div>
  </div>
</div>
