<div class="container p-5 mx-auto grid grid-cols-2 gap-2 mt-16">
  <div class="container">
    <div
      class="mx-auto rounded-2xl shadow-2xl overflow-hidden max-w-md justify-around"
    >
      <div class="flex p-5 justify-center">
        <img class="rounded-full h-20" src="../../assets/scanntech.png" />
      </div>
      <div class="flex p-5 justify-center">
        <b> Full Stack Developer - (06/13/2022 - Present) </b>
      </div>
      <div class="block p-5 justify-center">
        <p>
          Development and maintenance of back and front applications, used
          technologies:
        </p>
        <p>
          - <b>Backend:</b> Java, Spring framework, Hibernate, Criteria, Tomcat
          and REST API
        </p>
        <p>- <b>Fronend:</b> Angular and Angular Material</p>
        <p>
          - <b>CI/CD:</b>
          Git, Gitlab, Jenkins and Artifactory
        </p>
        <p>
          - <b>DB:</b>
          PostgreSQL and Oracle
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div
      class="mx-auto rounded-2xl shadow-2xl overflow-hidden max-w-md justify-around"
    >
      <div class="flex p-5 justify-center">
        <img class="rounded-full h-20" src="../../assets/pragma.png" />
      </div>
      <div class="flex p-5 justify-center">
        <b> Java Developer - (12/13/2021 - 06/10/2022) </b>
      </div>
      <div class="block p-5 justify-center">
        <p>
          Development and maintenance of back applications for a financial
          company, used technologies:
        </p>
        <p>
          - <b>Backend:</b>
          NodeJS, Java and WAS
        </p>
        <p>
          - <b>Cloud:</b>
          AWS, Serverless
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div
      class="mx-auto rounded-2xl shadow-2xl overflow-hidden max-w-md justify-around"
    >
      <div class="flex p-5 justify-center">
        <img class="rounded-full h-20" src="../../assets/cajadelsanta.png" />
      </div>
      <div class="flex p-5 justify-center">
        <b> Analyst Programmer - (07/25/2018 - 12/26/2021) </b>
      </div>
      <div class="block p-5 justify-center">
        <p>
          Development and maintenance of back applications for a financial
          company, used technologies:
        </p>
        <p>Visual Basic 6, C#, Windows Form and Reporting Service</p>
        <p><b>BD:</b> Microsoft SQL Server</p>
      </div>
    </div>
  </div>
</div>
