<div class="container p-24 mx-auto grid grid-cols-2 gap-40 mt-16">
  <div class="container">
    <div class="mx-auto rounded-2xl shadow-2xl max-w-md justify-around">
      <div class="flex p-5 justify-center">
        <a
          href="https://www.linkedin.com/in/victor-elias-orbegozo-percovich-884b3821a"
          target="_blank"
        >
          <img class="rounded-full h-20" src="../../assets/linkedin.png" />
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mx-auto rounded-2xl shadow-2xl max-w-md justify-around">
      <div class="flex p-5 justify-center">
        <i class="fa-solid fa-house"></i>
      </div>
      <div class="flex p-5 justify-center">
        <b> Villavicencio 876 Bolivar Bajo Chimbote - Peru </b>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mx-auto rounded-2xl shadow-2xl max-w-md justify-around">
      <div class="flex p-5 justify-center">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <div class="flex p-5 justify-center">
        <b> vorbegozop@gmail.com </b>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mx-auto rounded-2xl shadow-2xl max-w-md justify-around">
      <div class="flex p-5 justify-center">
        <i class="fa-solid fa-phone"></i>
      </div>
      <div class="flex p-5 justify-center">
        <b> +51 943472348 </b>
      </div>
    </div>
  </div>
</div>
