<div class="container mx-auto mt-24">
  <div class="mx-auto rounded-2xl shadow-2xl max-w-md justify-around">
    <div class="flex p-5 justify-center">
      <img src="../../assets/foto-perfil.jpg" class="h-52 rounded-full" />
    </div>
    <div class="flex p-5 justify-center">
      <p class="content-center">
        Hello, My name is Victor Elias Orbegozo Percovich, I'm from Peru, I'm
        Engineer Informatic and Systems,
        <b>I have 4 years of experience in IT</b> of which 1 year I have been
        working with
        <b>Java technologies (Spring framework, hibernate) and Angular</b>, I
        also have knowledge in the backend side such as
        <b>Spring Boot, Hibernate, Spring Data JPA.</b>
        I am currently taking courses on Udemy on
        <b> microservices with Spring Cloud and Docker. </b>
      </p>
    </div>
  </div>
</div>
