<nav class="bg-black">
  <div class="md:flex items-center sm:h-12 md:h-15">
    <div class="md:flex-none text-white sm:w-auto md:w-80 lg:w-3/6 xl:w-2/6">
      <button>Hola</button>
    </div>

    <div class="md:flex-1 sm:w-auto md:w-2 lg:w-auto">
      <ul class="flex text-white justify-around">
        <li class="hover:bg-blue-600 hover:rounded-lg p-2">
          <a href="#" class="p-3">Inicio</a>
        </li>
        <li class="hover:bg-blue-600 hover:rounded-lg p-2">
          <a href="#" class="p-3">Experience</a>
        </li>
        <li class="hover:bg-blue-600 hover:rounded-lg p-2">
          <a href="#" class="p-3">Contact</a>
        </li>
        <li class="hover:bg-blue-600 hover:rounded-lg p-2">
          <a href="#" class="p-2">Certifications</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
